/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="datetime-local"] {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .booking button {
    width: 20%;
    height: 40px;
    background-color: #614a5b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 600px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .selected-slot {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .available-time-slots {
    margin-top: 20px;
  }
  
  .available-time-slots h3 {
    margin-bottom: 10px;
  } */

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.booking {
    width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking h1 {
    text-align: center;
    margin-bottom: 20px;
}

.booking label {
    display: block;
    margin-bottom: 10px;
}

.booking input[type="text"], 
.booking input[type="datetime-local"] {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
   
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* .booking button {
    width: 20%;
    height: 40px;
    background-color: #614a5b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 600px;
 
}

.booking button:hover {
    background-color: #3e8e41;
} */

.booking ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.booking li {
    margin-bottom: 10px;
}

.booking .selected-slot {
    background-color: #4CAF50;
    color: #fff;
}

.booking .available-time-slots {
    margin-top: 20px;
}

.booking .available-time-slots h3 {
    margin-bottom: 10px;
}
