body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #3d3c3c;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Header Styles */
.header {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  height: 80px;
}

.header nav ul {
  display: flex;
  gap: 15px;
}

.header nav ul li a {
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header nav ul li a:hover {
  background-color: #575757;
}

/* Footer CSS */
  .footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  }


/* Home Styles */
.home {
  background-image: url('../../images/Home.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 20px;
  min-height: 100vh;
 /* color: #2e282b; */
 color : white;
}


.home .background-image {
  width: 100%;
  height: 100%;

  max-width: 600px;
  margin-top: 20px;
}


